@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  /* Your preferred text font. Starlight uses a system font stack by default. */
  --font-sans: "Atkinson Hyperlegible";
  /* Your preferred code font. Starlight uses system monospace fonts by default. */
  --font-mono: "IBM Plex Mono";
  /* Generated accent color palettes. */
  --color-accent-200: #ddc884;
  --color-accent-600: #816900;
  --color-accent-900: #3e3100;
  --color-accent-950: #2d2300;
  /* Generated gray color palettes. */
  --color-gray-100: #f4f6f9;
  --color-gray-200: #eaeef4;
  --color-gray-300: #bdc2ca;
  --color-gray-400: #838c9a;
  --color-gray-500: #505965;
  --color-gray-700: #313944;
  --color-gray-800: #202732;
  --color-gray-900: #15181d;

  /* Dark mode Starlight theme variables */
  --sl-color-accent-low: var(--color-accent-950);
  --sl-color-accent: var(--color-accent-600);
  --sl-color-accent-high: var(--color-accent-200);
  --sl-color-white: #ffffff;
  --sl-color-gray-1: var(--color-gray-100);
  --sl-color-gray-2: var(--color-gray-200);
  --sl-color-gray-3: var(--color-gray-300);
  --sl-color-gray-4: var(--color-gray-400);
  --sl-color-gray-5: var(--color-gray-500);
  --sl-color-gray-6: var(--color-gray-600);
  --sl-color-black: var(--color-gray-900);

  /* Light mode Starlight theme variables */
  --sl-color-accent-low-light: var(--color-accent-200);
  --sl-color-accent-light: var(--color-accent-600);
  --sl-color-accent-high-light: var(--color-accent-900);
  --sl-color-white-light: var(--color-gray-900);
  --sl-color-gray-1-light: var(--color-gray-800);
  --sl-color-gray-2-light: var(--color-gray-700);
  --sl-color-gray-3-light: var(--color-gray-500);
  --sl-color-gray-4-light: var(--color-gray-400);
  --sl-color-gray-5-light: var(--color-gray-300);
  --sl-color-gray-6-light: var(--color-gray-200);
  --sl-color-gray-7-light: var(--color-gray-100);
  --sl-color-black-light: #ffffff;
}

/* Custom animations for gradients */
@layer utilities {
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-gradient {
    animation: gradient 15s ease infinite;
  }
}

body {
  @apply bg-gray-50 dark:bg-gray-800;
}

.header {
  @apply bg-gray-50 dark:bg-gray-700;
}

.sidebar-content {
  @apply bg-gray-50 dark:bg-gray-800;
}
